@use "../custom" as *;

.restaurant-detail {
    scroll-margin-top: 8rem;

    &__title {
        text-align: center;
        font-family: "Poppins";
        font-weight: 600;
        color: $rich-black-fogra-39;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.8rem;
        }
    }
}