@use "../custom" as *;


.info-container {
    width: 80%;
    line-height: 1.5;
    margin: 0 auto;

    .info-media {

        &__img {

            margin-bottom: 1.5rem;

            img {
                width: 100%;

                @include tablet {
                    height: 20rem;
                    object-fit: none;
                }

                @include desktop {
                   min-height: 23rem;
                   object-fit: cover;
                }
            }
           
        }

        &__content {

            margin-bottom: 2rem;
           
            h3 {
                font-size: 1.3rem;
                color: $grullo;
                font-family: 'Poppins';
                font-weight: 600;

                @include tablet {
                    font-size: 1.5rem;
                }

                @include desktop {
                    font-size: 2rem;
                }
            }

            p {
                font-family: 'Noto Sans';
                font-size: 1rem;
                margin-left: 0.5rem;

                @include tablet {
                    font-size: 1.3rem;
                }

                @include desktop {
                    font-size: 1.7rem;
                }
            }

            &__with-icon {
                display: flex;
                align-items: center;

                .category:not(:first-of-type){
                    margin-left: 0.2rem;
                }
            }
        }
    }

    .info-description {
        margin-bottom: 2rem;
    }

    .info-menu {
        margin-bottom: 2rem;
        font-family: 'Noto Sans';
        text-align: center;

        .menu-container {

            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                text-align: left;
                column-gap: 2rem;
            }

            h5 {
                font-weight: 600;
                font-size: 0.9rem;

                @include tablet {
                    font-size: 1.1rem;
                }
            
                @include desktop {
                    font-size: 1.3rem;
                }
            }

            &__item {
                 
                ul {
                    li {
                        border-bottom: 1px solid $grullo;
                        padding: 0.5rem 0;
                    }
                }
            }

            &__item:last-of-type {
                margin-top: 1rem;

                @include tablet {
                    margin-top: 0;
                }
            }
        }
    }

    .info-review {

        margin-bottom: 2rem;

        .review-container {

            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                column-gap: 2rem;
            }

            @include desktop {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .review {

                border: 1px solid $grullo;
                margin-bottom: 1rem;
                padding: 1rem;
                border-radius: 1rem;

                &__content {

                    font-family: 'Poppins';
                    font-size: 0.9rem;
                    font-weight: 500;
                    margin-bottom: 0.3rem;

                    @include tablet {
                        font-size: 1rem;
                    }
                
                    @include desktop {
                        font-size: 1.2rem;
                    }
                }

                &__name-date {
                    font-family: 'Noto Sans';
                    font-size: 0.8rem;
                    font-weight: 400;
                    color: $grullo;

                    @include tablet {
                        font-size: 0.9rem;
                    }
                
                    @include desktop {
                        font-size: 1rem;
                    }
                }
            }
        }

    }

    form {

        border: 1px solid $grullo;
        padding: 1rem;

        .form-field {

            margin-bottom: 1.3rem;
            width: 90%;

            @include tablet {
                width: 95%;
            }

            @include desktop {
                width: 97%;
            }

            &__label {
                font-family: 'Noto Sans';
            }

            &__input {
                font-family: 'Noto Sans';
                width: 100%;
                padding: 0.8rem;
                border-radius: 1rem;
                border: 1px solid $grullo;

                &:focus {
                    border-color: $davys-grey;
                }
            }
        }

        button {

            min-height: 3rem;
            min-width: 5rem;
            background-color: $grullo;
            color: $rich-black-fogra-39;
            font-family: 'Poppins';
            font-size: 1rem;
            border: none;
            border-radius: 0.8rem;

            &:hover {
                background-color: $davys-grey;
                color: $pale-silver;
                cursor: pointer;
            }
        }
    }
    
}
