@use "../custom" as *;

.hero-container {
    position: relative;
    top: 4.7rem;
    width: 100%;
    height: 40vh;
    background-size: cover;
    z-index: 1;
    margin-bottom: 8rem;
    background-image: url("../public/images/hero-image.jpg");

    @include desktop {
        height: 60vh;
        min-width: 1000px;
    }

    .hero-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #494F50d9;

        .hero-text {
           text-align: center;
           color: $pale-silver;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           width: 100%;

           p {
                font-family: "Noto Sans";
                font-weight: 400;
                font-size: 0.9rem;
                padding: 0.5rem;
                
                @include tablet {
                    font-size: 1.4rem;
                    padding: 1rem;
                }
           }

           h1 {
            font-family: "Pacifico";
            font-size: 1.8rem;

                @include tablet {
                    font-size: 3rem;
                }
           }
        }

    }
}